<div class="login-wrapper">
        
    <mat-card class="box">
        <div style="position:relative;width:100%;">
            <span (click)="backToLogin()" class="close" >x</span>
        </div>
        <mat-card-header>
            <mat-card-title class="test">Import wallet</mat-card-title>
        
        </mat-card-header>
  
      <form class="welcome-form">
        <mat-card-content class="vertical-center">
           <mat-form-field color="accent" class="full-width">
                <input matInput placeholder="Username" [(ngModel)]="accountName" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          <mat-form-field color="accent" class="full-width">
            <input matInput type="password" [(ngModel)]="pincode" placeholder="Pin code">
          </mat-form-field>
  
          <mat-form-field color="accent" class="full-width">
            <input matInput type="password" [(ngModel)]="confirmPincode" placeholder="Confirm pin code">
          </mat-form-field>
          <div color="accent" class="full-width">
            <span class="brainkey">BrainKey:</span>
            <textarea matInput
            disabled="true"
            cdkTextareaAutosize placeholder="BrainKey"
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="10">{{mnemonic}}</textarea>
            </div>
        </mat-card-content>
        <div class="register-container"><button mat-stroked-button  class="btn-block large-button">Import</button></div>
        <div class="register-container"><button mat-stroked-button  class="btn-block large-button" (click)="registerNewAccount()">Register new account</button></div>
      </form>
      
    </mat-card>

    
  </div>